RCSAgent/rec/
RCSAgent/log*.txt

RCSnail-AI-lite/src/example_input_in_try_loop.png
RCSnail-AI-lite/src/raw_input_in_try_loop.png
RCSnail-AI-lite/src/*.h5
RCSnail-AI-lite/n1_m1/
RCSnail-AI-lite/*.zip
RCSnail-AI-lite/cleaned_all*/
RCSnail-AI-lite/_done/*.zip

tmp/RCS_Recording/
tmp/.ipynb_checkpoints/
tmp/20201026-152144224/
tmp/frames_png/
tmp/frames_jpg/
tmp/example0.png
tmp/example100.png

DataCleaner/cleaned_all/*.npy
DataCleaner/cleaned_all_public_data/*.npy
DataCleaner/2020*/
DataCleaner/test_2020*/
DataCleaner/example0.jpg
DataCleaner/example100.jpg
DataCleaner/RCS_Recording/*
DataCleaner/.ipynb_checkpoints/

RCSnail-Connector/src/RCS_account.txt
RCSnail-Connector/src/main.py
RCSnail-AI-lite/cleaned_all_5.rar
RCSnail-AI-lite/notebooks/Nivida cnn standalone validation loss.png
RCSnail-AI-lite/notebooks/Training.png
workspace.code-workspace