RCSAgent/rec/
RCSAgent/log*.txt

RCSnail-AI-lite/src/example_input_in_try_loop.png

RCSnail-AI-lite/src/raw_input_in_try_loop.png
RCSnail-AI-lite/src/model_n1_m1_13.h5

tmp/RCS_Recording/

tmp/frames_png/

tmp/.ipynb_checkpoints/

tmp/20201026-152144224/

tmp/frames_jpg/

RCSnail-AI-lite/n1_m1/
tmp/example0.png
tmp/example100.png
RCSnail-Connector/src/RCS_account.txt
